{{#if myNewFile}}
<h1>Status</h1>
<p>Datei <a href="/{{myNewFile.name}}">{{myNewFile.name}}</a> wurde erfolgreich hochgeladen mit einer Dateigröße von {{myNewFile.size}} Bytes.</p>
{{/if}}
<h1>Datei hochladen</h1>
<form
      id="uploadForm"
      action="{{urlpath}}upload"
      method="post"
      encType="multipart/form-data">
    <input type="file" name="newfile" />
    <input type='submit' value='Hochladen!' />
</form>
<hr>
<h1>Dateien in {{fileroot}}</h1>

<ul>
{{#each files}}
    <li><a href="{{filepath}}{{@key}}">{{@key}}</a>&thinsp;&mdash;&thinsp;<a href="{{urlpath}}delete/{{@key}}" class="rc">LÖSCHEN</a></li>
{{/each}}
</ul>
